[submodule "External/LiteNetLib"]
	path = Infrastructure/LiteNetLib
	url = https://github.com/CopKiller/LiteNetLib
[submodule "Infrastructure/LiteNetLib"]
	path = Infrastructure/LiteNetLib
	url = https://github.com/CopKiller/LiteNetLib
