[submodule "External/LiteNetLib"]
	path = Infrastructure/LiteNetLib
	url = https://github.com/CopKiller/LiteNetLib
[submodule "Infrastructure/LiteNetLib"]
	path = Infrastructure/LiteNetLib
	url = https://github.com/CopKiller/LiteNetLib
[submodule "Infrastructure/VelcroPhysics"]
	path = Infrastructure/VelcroPhysics
	url = https://github.com/Genbox/VelcroPhysics
[submodule "Infrastructure/Aether.Physics"]
	path = Infrastructure/Aether.Physics
	url = https://github.com/CopKiller/Aether.Physics2D
